<!DOCTYPE html>

<html>
    <head>
        <meta content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <h1>Booking Confirmation</h1>
        <p>
            Greetings,</br></br>
            You have successfully completed your booking. 
            Your flight will be departing from <%= @from_airport %> to <%= @to_airport %> on <%= @date %></br></br>
            Have a great day!
        </p>
    </body>
</html>