<!DOCTYPE html>

<html>
    <head>
        <meta content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <h1>Booking Confirmation: <%= @from_airport %> to <%= @to_airport %></h1>
        <p>
            Greetings @passenger,</br></br>
            You have successfully completed your booking. 
            Your flight will be departing from <%= @flight.from_airport %> to <%= @flight.to_airport on @flight.departure. %></br></br>
            Have a great day!
        </p>
    </body>
</html>